<nav class="navbar navbar-expand-md navbar-dark mb-4" style="background-image: linear-gradient(180deg, #173043 0%, #043610 90%)">
    <div class="container-fluid">
        <a class="navbar-brand" href=""> <img src="@imageSource" width="300px" height="60px" align="center" alt="Logo" /></a>
        <button class="navbar-toggler @NavButtonCssClass" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse @NavMenuCssClass" id="navbarCollapse" @onclick="ToggleNavMenu">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
          @*       <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li> *@
                <li class="nav-item">
                    <NavLink class="nav-link" href="ownspots">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Own Gathering Spots
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="personlist">
                        <span class="bi bi-person-lines-fill" aria-hidden="true"></span> See persons
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="addspots">
                        <span class="oi oi-plus" aria-hidden="true"></span> Add a Spot
                    </NavLink>
                </li>
                
            </ul>
        </div>
    </div>
</nav>


@* <div class="top-row navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Gatherama</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ownspots">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Own Gathering Spots
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="addspots">
                <span class="oi oi-plus" aria-hidden="true"></span> Add a Spot
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="personlist">
                <span class="oi oi-plus" aria-hidden="true"></span> See persons
            </NavLink>
        </div>
    </nav>
</div> *@

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private string NavButtonCssClass => collapseNavMenu ? "collapsed" : null;

    private string imageSource = $"Gatherama_text_rb.png";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
