@page "/addspots"
@using Gatherama.Shared


<h1>Add Gathering Spot</h1>

<p>Here you can add your new gathering spot!</p>

@* <EditForm >
     <div class="col-lg-4 col-md-12">
        <label for="Place">
            Add Place
        </label>
        <Input id="Place" class="form-control" placeholder="Enter Place co-ordinates"/>
    </div>
    <div class="col-lg-4 col-md-12">
        <label for="Date">
            Add Date to the Finding
        </label>
        <DateInput id="Date" TValue="DateOnly" class="form-control" placeholder="Enter Date"/>
    </div>
    <div class="col-lg-4 col-md-12">
        <label for="amount">
            Add the Amount of Species found
        </label>
        <Input id="Amount" class="form-control" placeholder="Enter Amount"/>
    </div>
    <div class="col-lg-4 col-md-12">
        <label for="Memo">
            Add some Notes (if wanted)
        </label>
        <Input id="Notes" class="form-control" placeholder="Enter the Note"/>
    </div>
    <div class="col-lg-4 col-md-12">
        <label for="Picture">
            Add Picture
        </label>
        <Input id="Picture" class="form-control" placeholder="Enter the Note"/>
    </div>  
</EditForm> *@


@code {

}
