@page "/"


@* <section>
    <div>
        <center>
            <img src="@imageSource" width="300px" height="300px" align="center" alt="Logo" />
        </center>
    </div>
</section> *@




<div class="row d-flex justify-content-center">
    <div class="col-sm-8">
        <p> <img src="@imageSource" width="250px" height="250px" align="center" alt="Logo" /></p>
        <h4>The best hunter/gatherer app out there in the cyberspace!</h4>
    </div>
</div>





@code{
     private string imageSource = $"Gatherama_wbg.png";

}