@page "/"


@* <section>
    <div>
        <center>
            <img src="@imageSource" width="300px" height="300px" align="center" alt="Logo" />
        </center>
    </div>
</section> *@




<div class="row d-flex justify-content-center">
    <div class="col-sm-8">
        <h1>Welcome to Gatherama!</h1>
        <p>The best hunter/gatherer app out there in the cyberspace!</p>
        <LogIn />
    </div>
</div>





@code{
     private string imageSource = $"Gatherama_wbg.png";

}